<html>
<head>
    <script language="javascript" type="text/javascript" src="/static/jquery.js"></script>
</head>
<script type="text/javascript">
//     $(function() {
//         $("#submit").click(function(event) {
//             url = $("#url").val();
//             alert(url);
//             user = $("#username").val();
//             passwd = $("#passwd").val();
//             host = $("#host").val();
//             database = $("#database").val()
//             $.ajax({
//                 url:url,
//                 data:{user:user,password:passwd,host:host,db:database},
//                 success:function(argument) {
//                     alert(argument)
//                 },
//                 dataType:"json"
//             });
//         });
//     })
</script>
<body>
<form action="/tables" methond="get">
    <!-- <input type="hidden" value="/getTables" id="url" /> -->
    <div>用户名:<input type="text" id="user" name="user"/></div>
    <div>密&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="password" id="password" name="password"/></div>
    <div>地&nbsp;&nbsp;&nbsp;&nbsp;址:<input type="text" id="host" name="host"/></div>
    <div>数据库:<input type="text" id="database" name="db"/></div>
    <div><input type="submit" id="submit" value="查询" /></div>
</form>
</body>
</html>
